@model Happy.Models.Foods

@{
    ViewData["Title"] = "Details";
}
<div id="containerfooddetails">
<h1>Details</h1>

<div>
    <h4>Foods</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ingredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ingredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grams)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
</div>