@model PaginatedList<Happy.Models.Foods>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
 
  <p> <a asp-action="Create">Create New Menu</a> </p>

 <form asp-action="Index" method="get">
        <div class="form-action no-color">
            <p>
              Find menu by name <input type=text name="searchString" value=@ViewData["SearchParam"]/>
              <input type="submit" value="Search" class ="btn btn-success"/>
              <a asp-action="Index"> Back to Main list</a> 
              </p>
        </div>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MenuNameSortParam"]"asp-route-currentSort="ViewData["CurrentSort"]">MenuName</a>
               
            </th>
            <th>
                ingredients
            </th>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="@ViewData["GramsSortParam"]"asp-route-currentSort="ViewData["CurrentSort"]">Grams</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grams)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled =!Model.HasNextPage ? "disabled" : "";
}
<a
 asp-action="Index"
 asp-route-sortOrder="@ViewData["CurrentSort"]";
 asp-route-pageNumber="@(Model.PageIndex-1)";
 asp-route-currentFilter="@ViewData["CurrentFilter"]"
 class="btn btn-success @prevDisabled">
 Previous page
</a>

<a
 asp-action="Index"
 asp-route-sortOrder="@ViewData["CurrentSort"]";
 asp-route-pageNumber="@(Model.PageIndex+1)";
 asp-route-currentFilter="@ViewData["CurrentFilter"]"
 class="btn btn-success @nextDisabled">
 Next page
</a>


