@model IEnumerable<Happy.Models.Foods>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MenuNameSortParam"]">@Html.DisplayNameFor(model => model.MenuName)</a>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ingredients)
            </th>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="@ViewData["GramsSortParam"]"> @Html.DisplayNameFor(model => model.Grams)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grams)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
